@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;
*/
/*
// fontAwesome
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*/
/*
// RESPONSIVE - Bootstrap sizes
// @include respond-to(lg) { background: orange; };
// @include respond-to(md) { background: green; };
// @include respond-to(sm) { background: blue; };
// @include respond-to(xs) { background: yellow; };
// @include respond-to(mb) { background: black; };
/*
//reset float
@mixin float-clear {
	content: '';
	width: 100%;
	display: table;
	clear: both;
}
*/
/*
//style for placeholder
@mixin placeholder-hide { //ставить в корень scss!
	::-webkit-input-placeholder {@content}
	:-moz-placeholder           {@content}
	::-moz-placeholder          {@content}
	:-ms-input-placeholder      {@content}
	//убрать placeholder при клике
	:focus::-webkit-input-placeholder {color: transparent}
	:focus::-moz-placeholder          {color: transparent}
	:focus:-moz-placeholder           {color: transparent}
	:focus:-ms-input-placeholder      {color: transparent}
}
*/
html {
  min-height: 100%;
  height: 100%; }

body {
  min-height: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased; }

body * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.browsehappy {
  background: #ccc;
  color: #000;
  padding: 5px;
  text-align: center; }
  .browsehappy p {
    display: inline-block; }
  .browsehappy a {
    text-decoration: underline; }

.icon {
  display: inline-block; }

.icon-X {
  background-position: -121px -24px;
  width: 18px;
  height: 18px; }

.icon-arr_l, .icon-X {
  background-image: url(sprite.png); }

.icon-arr_l {
  background-position: -121px -58px;
  width: 11px;
  height: 19px; }

.icon-arr_more {
  background-position: -121px -42px;
  width: 16px;
  height: 16px; }

.icon-arr_more, .icon-arr_r {
  background-image: url(sprite.png); }

.icon-arr_r {
  background-position: -132px -58px;
  width: 11px;
  height: 19px; }

.icon-juiceGlass {
  background-position: 0 0;
  width: 121px;
  height: 156px; }

.icon-juiceGlass, .icon-menu {
  background-image: url(sprite.png); }

.icon-menu {
  background-position: -121px 0;
  width: 24px;
  height: 24px; }

a {
  color: #0000FF;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

p {
  margin-bottom: 10px; }

.separator {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #000000; }

.app {
  color: #000000;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  min-width: 320px;
  margin: 0 0;
  padding: 0 0px;
  position: relative; }

.header {
  padding: 50px 0;
  background-color: #EFF0F2; }
  .header .coll {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header .coll .logo {
      text-align: center;
      border: #000 solid 6px;
      padding: 5px 5px;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
      color: #000;
      font-family: Montserrat;
      font-size: 19px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: normal; }
      .header .coll .logo span {
        color: #77EFE5;
        font-size: 22px; }
    .header .coll .header__menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .header .coll .header__menu .menu {
        width: 65px;
        padding: 11px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }

.billboard {
  padding: 20px 0;
  background-color: #EFF0F2; }
  .billboard .content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .billboard .text {
    margin: 125px auto 0 auto;
    width: 90%;
    color: #505050;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    text-shadow: 7px 7px 3px rgba(80, 80, 80, 0.2);
    text-align: center;
    text-transform: uppercase; }
  .billboard .button {
    margin: 136px auto 189px auto; }
    .billboard .button a {
      padding: 14px 42px;
      color: #606061;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: regular;
      line-height: normal;
      letter-spacing: 4px;
      text-transform: uppercase;
      border: #777879 solid 2px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .billboard .button a:hover {
      color: #EAEAE9;
      background-color: #606061;
      border-color: #EAEAE9; }
  .billboard .juiceGlass {
    position: absolute;
    bottom: 60px;
    right: 50px;
    opacity: 0.5; }
  @media only screen and (max-width: 767px) {
    .billboard .text {
      font-size: 28px;
      margin: 36px auto; }
    .billboard .button {
      margin: 36px auto; }
    .billboard .juiceGlass {
      visibility: hidden;
      right: 5px;
      bottom: -21px; } }

.about {
  background-color: #F8FAFA; }
  .about .title {
    padding: 122px 0 144px 0;
    margin: 0 auto;
    background-color: #F8FAFA; }
    .about .title .headline {
      color: #323333;
      font-family: Montserrat;
      font-size: 38px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      text-align: center; }
    .about .title .description {
      color: #848585;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: regular;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      text-align: center; }
  .about .content {
    padding-bottom: 106px; }
    .about .content .content__image {
      max-width: 100%;
      height: 100%;
      padding-bottom: 50px;
      position: relative; }
      .about .content .content__image .shadow {
        position: absolute;
        margin-top: 30px;
        background-color: #EEEFF1;
        width: 100%;
        height: 424px; }
      .about .content .content__image .gallery {
        height: 484px;
        max-width: 392px;
        margin: 0 auto;
        width: 88%; }
        .about .content .content__image .gallery .carousel-item {
          background-image: url(../img/Image@1X.png);
          height: 484px;
          background-size: cover;
          background-position: center center; }
    .about .content .content__text {
      padding-left: 33px; }
      .about .content .content__text h3 {
        color: #646565;
        font-family: Merriweather;
        font-size: 20px;
        font-weight: bold;
        line-height: normal;
        letter-spacing: normal;
        text-transform: uppercase;
        margin-bottom: 31px; }
      .about .content .content__text p {
        color: #646565;
        font-family: Raleway;
        font-size: 16px;
        font-weight: regular;
        line-height: normal;
        letter-spacing: 4px;
        margin-bottom: 56px; }

.works .title {
  padding: 122px 0 114px 0;
  margin: 0 auto; }
  .works .title .headline {
    color: #323333;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center; }
  .works .title .description {
    color: #848585;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: regular;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center; }

.works .works__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 117px; }
  .works .works__grid .works__item {
    border: 4px #fff solid;
    background-size: auto;
    background-position: center center;
    width: 370px;
    height: 360px; }
  .works .works__grid .works__item:after {
    content: '\A';
    height: 100%;
    width: 100%;
    background-color: #000000;
    background-size: cover;
    opacity: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .works .works__grid .works__item:hover:after {
    content: '\A';
    height: 100%;
    width: 100%;
    background-color: #000000;
    background-size: cover;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1; }

.works__item_1 {
  background-image: url(../img/work1.png); }

.works__item_2 {
  background-image: url(../img/work2.png); }

.works__item_3 {
  background-image: url(../img/work3.png); }

.works__item_4 {
  background-image: url(../img/work4.png); }

.works__item_5 {
  background-image: url(../img/work5.png); }

.works__item_6 {
  background-image: url(../img/work6.png); }

.big_works {
  display: none;
  height: 0;
  margin: -30% auto 0 auto; }
  .big_works img {
    width: 100%; }

.services {
  background-color: #F8FAFA; }
  .services .title {
    padding: 122px 0 121px 0;
    margin: 0 auto;
    background-color: #F8FAFA; }
    .services .title .headline {
      color: #323333;
      font-family: Montserrat;
      font-size: 38px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      text-align: center; }
    .services .title .description {
      color: #848585;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: regular;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      text-align: center; }
  .services .services__container {
    padding: 0 10px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .services .services__container .services__grid {
      padding-bottom: 124px;
      max-width: 1147px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%; }
      .services .services__container .services__grid .services__row {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .services .services__container .services__grid .services__row .services__item {
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          padding: 30px 30px 50px 30px;
          background-size: cover;
          background-position: center center;
          border: #F8FAFA solid 5px;
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
          .services .services__container .services__grid .services__row .services__item h3 {
            position: relative;
            z-index: 2;
            color: #F8F8F8;
            font-family: Merriweather;
            font-size: 20px;
            font-weight: bold;
            line-height: normal;
            letter-spacing: normal;
            text-transform: uppercase;
            margin-bottom: 19px; }
          .services .services__container .services__grid .services__row .services__item p {
            position: relative;
            z-index: 2;
            color: #EAEAE9;
            font-family: Raleway;
            font-size: 16px;
            font-weight: regular;
            line-height: normal;
            letter-spacing: normal; }
          .services .services__container .services__grid .services__row .services__item .button {
            margin-top: 45px;
            position: relative;
            z-index: 2;
            width: -webkit-min-content;
            width: -moz-min-content;
            width: min-content;
            white-space: nowrap; }
            .services .services__container .services__grid .services__row .services__item .button span {
              color: #EBEBEB;
              font-family: Raleway;
              font-size: 18px;
              font-weight: medium;
              line-height: normal;
              letter-spacing: normal;
              text-transform: uppercase;
              margin-right: 15px; }
          .services .services__container .services__grid .services__row .services__item .button__x {
            z-index: 5;
            position: absolute;
            bottom: 30px;
            padding: 20px;
            left: 10px;
            border: 3px solid transparent; }
        .services .services__container .services__grid .services__row .services__item_normal {
          position: relative;
          padding-top: 149px; }
          .services .services__container .services__grid .services__row .services__item_normal p {
            height: 58px;
            overflow: hidden; }
          .services .services__container .services__grid .services__row .services__item_normal .button__x {
            visibility: hidden; }
          .services .services__container .services__grid .services__row .services__item_normal .button__more {
            visibility: visible; }
        .services .services__container .services__grid .services__row .services__item_normal:after {
          content: '\A';
          height: 100%;
          width: 100%;
          background-color: #000000;
          background-size: cover;
          opacity: 0.5;
          top: 0px;
          left: 0px;
          position: absolute;
          z-index: 1;
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
        .services .services__container .services__grid .services__row .service_1 {
          background-image: url(../img/service1.png);
          width: 58%;
          height: 423px; }
        .services .services__container .services__grid .services__row .service_2 {
          background-image: url(../img/service2.png);
          width: 42%;
          height: 423px; }
        .services .services__container .services__grid .services__row .service_3 {
          background-image: url(../img/service3.png);
          height: 373px;
          width: 58%; }
        .services .services__container .services__grid .services__row .service_4 {
          background-image: url(../img/service4.png);
          height: 373px;
          width: 42%; }
        .services .services__container .services__grid .services__row .service_5 {
          background-image: url(../img/service5.png);
          height: 373px;
          width: 42%; }
        .services .services__container .services__grid .services__row .service_6 {
          background-image: url(../img/service1.png);
          height: 373px;
          width: 58%; }
        .services .services__container .services__grid .services__row .services__item_active {
          padding-top: 25px;
          padding-bottom: 74px; }
          .services .services__container .services__grid .services__row .services__item_active .button__more {
            visibility: hidden;
            color: black; }
          .services .services__container .services__grid .services__row .services__item_active .button__x {
            visibility: visible; }
          .services .services__container .services__grid .services__row .services__item_active h3 {
            color: #1D4B47; }
          .services .services__container .services__grid .services__row .services__item_active p {
            color: #29625D;
            height: auto;
            overflow: hidden; }
        .services .services__container .services__grid .services__row .services__item_active:after {
          content: '\A';
          height: 100%;
          width: 100%;
          background-color: #6FF4E9;
          background-size: cover;
          opacity: 1;
          top: 0px;
          left: 0px;
          position: absolute;
          z-index: 1;
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
        @media only screen and (max-width: 767px) {
          .services .services__container .services__grid .services__row {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column; }
            .services .services__container .services__grid .services__row .services__item {
              width: 100%; } }

.team .title {
  padding: 122px 0 114px 0;
  margin: 0 auto; }
  .team .title .headline {
    color: #323333;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center; }
  .team .title .description {
    color: #848585;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: regular;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center; }

.team .team__grid {
  margin-bottom: 100px; }
  .team .team__grid .team__item {
    border: #fff solid 5px;
    height: 448px;
    background-size: cover;
    background-position: center center;
    position: relative; }
    .team .team__grid .team__item .team__item__note {
      position: relative;
      height: 100%;
      width: 100%;
      opacity: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
      .team .team__grid .team__item .team__item__note .team__item__note_content {
        position: relative;
        height: 242px;
        padding: 35px;
        background-color: #70F6EB;
        margin: 0 10px 10px 10px; }
        .team .team__grid .team__item .team__item__note .team__item__note_content img {
          position: absolute;
          z-index: 0;
          top: -20px;
          left: 30px; }
        .team .team__grid .team__item .team__item__note .team__item__note_content h4 {
          position: relative;
          z-index: 3;
          margin-bottom: 20px;
          color: #2C3A39;
          font-family: Merriweather;
          font-size: 20px;
          font-weight: bold;
          line-height: normal;
          letter-spacing: normal;
          text-transform: uppercase; }
          .team .team__grid .team__item .team__item__note .team__item__note_content h4 span {
            color: #767978;
            font-family: Merriweather;
            font-size: 18px;
            font-weight: regular;
            line-height: normal;
            letter-spacing: normal; }
        .team .team__grid .team__item .team__item__note .team__item__note_content p {
          color: #225450;
          font-family: Raleway;
          font-size: 16px;
          font-weight: regular;
          line-height: normal;
          letter-spacing: normal;
          margin-bottom: 20px; }
        .team .team__grid .team__item .team__item__note .team__item__note_content .social {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          .team .team__grid .team__item .team__item__note .team__item__note_content .social .social__item {
            color: #2F6F6A;
            padding: 5px;
            margin-left: 10px;
            cursor: pointer; }
          .team .team__grid .team__item .team__item__note .team__item__note_content .social .social__item:first-child {
            margin-left: 0; }
    .team .team__grid .team__item .team__item__note:hover {
      opacity: 1; }
  @media only screen and (max-width: 767px) {
    .team .team__grid {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .team .team__grid .team__item {
        width: 100%; } }

.team .team1 {
  background-image: url(../img/team1.png); }

.team .team2 {
  background-image: url(../img/team2.png); }

.team .team3 {
  background-image: url(../img/team3.png); }

.team .team4 {
  background-image: url(../img/team4.png); }

.team .team5 {
  background-image: url(../img/team5.png); }

.testimonials {
  background-color: #F8FAFA;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  padding: 0 10px; }
  .testimonials .title {
    padding: 122px 0 121px 0;
    margin: 0 auto;
    background-color: #F8FAFA; }
    .testimonials .title .headline {
      color: #323333;
      font-family: Montserrat;
      font-size: 38px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      text-align: center; }
    .testimonials .title .description {
      color: #848585;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: regular;
      line-height: normal;
      letter-spacing: normal;
      text-transform: uppercase;
      text-align: center; }
  .testimonials .content {
    margin-bottom: 100px;
    text-align: center;
    max-width: 1147px;
    position: relative; }
    .testimonials .content .testimonials__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .testimonials .content .testimonials__item .content__image {
        position: relative;
        margin: 34px 10px;
        width: 40%;
        height: auto; }
        .testimonials .content .testimonials__item .content__image .shadoww {
          height: 363px;
          width: 100%;
          margin-top: 30px;
          background-color: #EEEFF1;
          position: absolute; }
        .testimonials .content .testimonials__item .content__image .photo {
          background-size: cover;
          background-position: center center;
          margin: 0 auto;
          height: 411px;
          width: 90%;
          position: relative;
          z-index: 2; }
        .testimonials .content .testimonials__item .content__image .testimonials1 {
          background-image: url(../img/team1.png); }
        .testimonials .content .testimonials__item .content__image .testimonials2 {
          background-image: url(../img/team2.png); }
        .testimonials .content .testimonials__item .content__image .testimonials3 {
          background-image: url(../img/team3.png); }
      .testimonials .content .testimonials__item .content__bloc {
        width: 60%;
        background-color: #EAEBED;
        margin: 40px;
        margin-top: 71px;
        padding: 87px 80px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content; }
        .testimonials .content .testimonials__item .content__bloc h3 {
          color: #1B1B1C;
          font-family: Merriweather;
          font-size: 20px;
          font-weight: bold;
          line-height: normal;
          letter-spacing: normal;
          text-transform: uppercase;
          margin-bottom: 19px; }
          .testimonials .content .testimonials__item .content__bloc h3 span {
            color: #8F8F90;
            font-family: Merriweather;
            font-size: 18px;
            font-weight: regular;
            line-height: normal;
            letter-spacing: normal;
            text-transform: uppercase; }
        .testimonials .content .testimonials__item .content__bloc p {
          color: #909192;
          font-family: Raleway;
          font-size: 16px;
          font-weight: regular;
          line-height: 27px;
          letter-spacing: normal;
          margin-bottom: 19px; }
        .testimonials .content .testimonials__item .content__bloc .stars {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          .testimonials .content .testimonials__item .content__bloc .stars .stars__item {
            color: #F2DA3B;
            margin: 0 10px; }
      @media only screen and (max-width: 767px) {
        .testimonials .content .testimonials__item {
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .testimonials .content .testimonials__item .content__image {
            width: 100%; }
            .testimonials .content .testimonials__item .content__image .shadoww {
              height: 150px; }
            .testimonials .content .testimonials__item .content__image .photo {
              height: 186px; }
          .testimonials .content .testimonials__item .content__bloc {
            width: 100%;
            margin: 0;
            padding: 10px; }
            .testimonials .content .testimonials__item .content__bloc p {
              font-size: 12px; } }
    .testimonials .content .carousel__control {
      position: absolute;
      right: 0px;
      bottom: -22px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .testimonials .content .carousel__control .arr {
        margin: 0px 15px;
        height: 54px;
        width: 54px;
        background-color: #FFFFFF;
        -webkit-box-shadow: 0px 8px 12px 1px rgba(0, 0, 255, 0.2);
        box-shadow: 0px 8px 12px 1px rgba(0, 0, 255, 0.2);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .testimonials .content .carousel__control .arr:hover {
        background-color: #71F6EB; }
      @media only screen and (max-width: 767px) {
        .testimonials .content .carousel__control {
          position: relative; } }
    .testimonials .content .carousel__indicator {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      @media only screen and (max-width: 767px) {
        .testimonials .content .carousel__indicator {
          bottom: 270px; } }
      .testimonials .content .carousel__indicator .carousel__indicator__item {
        margin: 0 10px;
        height: 11px;
        width: 11px;
        background-color: #D0D0D0;
        border-radius: 4px;
        -webkit-box-shadow: 0px 8px 12px 1px rgba(0, 0, 255, 0.2);
        box-shadow: 0px 8px 12px 1px rgba(0, 0, 255, 0.2);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .testimonials .content .carousel__indicator .active .carousel__indicator__item {
        background-color: #71F6EB; }

.partners__content {
  margin: 5% auto;
  width: 95%;
  max-width: 1147px;
  height: 172px;
  background-image: url(../img/partners.png);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.5;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }

.contacts {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contacts .contacts__container {
    padding: 0 10px 0 10px;
    margin-top: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    z-index: 2;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
    .contacts .contacts__container .contacts__form {
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content;
      max-width: 615px;
      width: 100%;
      margin: 10px;
      padding: 30px 30px;
      background-color: #3C505D;
      opacity: 1;
      height: min-content; }
      .contacts .contacts__container .contacts__form .contacts__form__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 30px; }
        .contacts .contacts__container .contacts__form .contacts__form__item label {
          color: #C4C7CA;
          font-family: Raleway;
          font-size: 15px;
          font-weight: regular;
          line-height: normal;
          letter-spacing: normal;
          margin-bottom: 0px; }
        .contacts .contacts__container .contacts__form .contacts__form__item input {
          border: none;
          border-bottom: #fff solid 1px;
          background: repeat; }
      .contacts .contacts__container .contacts__form .contacts__form__massege textarea {
        height: 95px;
        vertical-align: top;
        background: repeat;
        border: none;
        border-bottom: #fff solid 1px; }
      .contacts .contacts__container .contacts__form .contacts__form__button button {
        color: #2E6B66;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: regular;
        line-height: normal;
        letter-spacing: normal;
        text-transform: uppercase;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        border: none;
        background-color: #71F6EB;
        height: 54px;
        width: 254px;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .contacts .contacts__container .contacts__form .contacts__form__button button:hover {
        color: #EAEAE9;
        background-color: #606061;
        border-color: #EAEAE9; }
  .contacts .adress {
    margin: 10px;
    max-width: 501px;
    width: 100%;
    padding: 30px 30px;
    color: #C4C7CA;
    font-family: Raleway;
    font-size: 15px;
    font-weight: regular;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 117px;
    background-color: #3C505D;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contacts .adress a {
      margin-bottom: 10px;
      color: #C4C7CA;
      font-family: Raleway;
      font-size: 15px;
      font-weight: regular;
      line-height: normal;
      letter-spacing: normal; }

.contacts:after {
  content: '\A';
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background-image: url(../img/contacts.png);
  background-position: center center; }

.footer {
  height: 317px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #262B2E; }
  .footer h5 {
    color: #DFE0E0;
    font-family: Raleway;
    font-size: 16px;
    font-weight: regular;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px; }
  .footer .footer__socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 38px; }
    .footer .footer__socials .footer__socials__item {
      margin: 0 4px 0 4px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 41px;
      width: 47px;
      color: #BBB8B9;
      background-color: #424648;
      font-size: 20px; }
    .footer .footer__socials .footer__socials__item:hover {
      background-color: #6EEEE4;
      color: #081E1C; }
  .footer p {
    color: #DFE0E0;
    font-family: Raleway;
    font-size: 16px;
    font-weight: medium;
    line-height: normal;
    letter-spacing: normal;
    text-align: center; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; } }
