/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-X {
  background-image: url(sprite.png);
  background-position: -121px -24px;
  width: 18px;
  height: 18px;
}
.icon-arr_l {
  background-image: url(sprite.png);
  background-position: -121px -58px;
  width: 11px;
  height: 19px;
}
.icon-arr_more {
  background-image: url(sprite.png);
  background-position: -121px -42px;
  width: 16px;
  height: 16px;
}
.icon-arr_r {
  background-image: url(sprite.png);
  background-position: -132px -58px;
  width: 11px;
  height: 19px;
}
.icon-juiceGlass {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 121px;
  height: 156px;
}
.icon-menu {
  background-image: url(sprite.png);
  background-position: -121px 0px;
  width: 24px;
  height: 24px;
}
