@import "settings";

// подключение стилей сгенерированного sprite.min
.icon {
  display: inline-block;

}
@import '../css/sprite.min';

// fonts
$Arial: 'Arial', sans-serif;

// типографика
// @include font-type($color, $font-family, $font-size, $font-weight, $line-height, $letter-spacing)
// @include font-type($color-text-dark, $Arial, 14px, 400, normal, normal);

// RESPONSIVE - Bootstrap sizes
// @include respond-to(lg) { background: orange; };
// @include respond-to(md) { background: green; };
// @include respond-to(sm) { background: blue; };
// @include respond-to(xs) { background: yellow; };
// @include respond-to(mb) { background: black; };
// @include respond-to(mobile) { background: red; };

//colors
$white: #FFFFFF;
$black: #000000;
$black_opacity: rgba(0, 0, 0, 0.3);
$yellow: #FEE31A;
$red: #FF0000;
$blue: #0000FF;

// colors project
$colorbg_brand: $yellow;
$color_bg_dark: $black;
$color_bg_light: $white;
$color_text_brand: $yellow;
$color_text_dark: $black;
$color_text_light: $white;
$color_text_link: $blue;

//gradient
$gradient: linear-gradient(245deg, transparent 60px, $yellow);

@import "animation";

// COMMON
a {
	color: $color_text_link; text-decoration: none;
	&:hover {text-decoration: none;}
	&:active {}
}
p {margin-bottom: 10px;}

// separator
.separator {
    width: 50%; margin: 0 auto;
    border-bottom: 1px solid $color_text_dark;
}

// application
.app {
    @include font-type($color_text_dark, $Arial, 16px, 400, normal, normal);
    min-width: 320px;
    //max-width: 1220px;
    margin: 0 0;
    padding: 0 0px;
    position: relative;
}

// header
.header {
  padding: 50px 0;
  background-color: #EFF0F2;
  .coll{
    display: flex;
    justify-content: space-between;
    .logo{
      text-align: center;
      border: #000 solid 6px;
      padding: 5px 5px;
      width: min-content;
      height: min-content;
      @include font-type(#000, Montserrat, 19px, bold, normal, normal);
      span{
        color: #77EFE5;
        font-size: 22px;
      }
    }
    .header__menu{
      display: flex;
      justify-content: flex-end;
      .menu{
        width: 65px;
        padding: 11px;
        display: flex;
        justify-content: center;
        i{

        }
      }
    }

  }

}

//////////////
// billboard//
//////////////

.billboard {
  padding: 20px 0;
  background-color: #EFF0F2;
  .content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text{
    margin: 125px auto 0 auto;
    width: 90%;
    @include font-type(#505050, Montserrat, 45px, bold, normal, normal);
    text-shadow: 7px 7px 3px rgba(80,80,80,0.2);
    text-align: center;
    text-transform: uppercase;
  }
  .button{
    margin: 136px auto 189px auto;

    a{
      padding: 14px 42px;
      @include font-type(#606061, Montserrat, 18px, regular, normal, 4px);
      text-transform: uppercase;
      border: #777879 solid 2px;
      transition: all 0.3s ease 0s;
    }
    a:hover{
      color: #EAEAE9;
      background-color: #606061;
      border-color:#EAEAE9 ;
    }
  }
  .juiceGlass{
    position: absolute;
    bottom: 60px;
    right: 50px;
  }
  @include respond-to(xs) {
    .text{
      font-size: 28px;
      margin: 36px auto;
    }
    .button{
      margin: 36px auto;
    }
    .juiceGlass{
      visibility: hidden;
      right: 5px;
      bottom: -21px;
    }
  };
}

//////////////
// about.html//
//////////////
.about{
  background-color: #F8FAFA;

  .title{
    padding: 122px 0 144px 0;
    margin: 0 auto;
    background-color: #F8FAFA;
    .headline{
      @include font-type(#323333, Montserrat, 38px, bold, normal, normal);
      text-transform: uppercase;
      text-align: center;
    }
    .description{
      @include font-type(#848585, Merriweather, 18px, regular, normal, normal);
      text-transform: uppercase;
      text-align: center;
    }
  }
  .content{
    padding-bottom: 106px;
    .content__image{
      max-width: 100%;
      height: 100%;
      padding-bottom: 50px;

      position: relative;
      .shadow{
        position: absolute;

        margin-top: 30px;

        background-color: #EEEFF1;

        width: 100%;
        height: 424px;

      }
      .gallery{
        height:  484px;
        max-width: 392px;
        margin: 0 auto;
        width: 88%;
        .carousel-item{
          background-image: url(../img/Image@1X.png);
          height:  484px;

          background-size: cover;
          background-position: center center;
        }
        .carousel__indicator{
          position: absolute;
          bottom: -60px;
          display: flex;
          justify-content: center;
          .carousel__indicator__item{
            margin: 0 2px;
            height: 9px;
            width:  9px;
            background-color: #D0D0D0;
            border-radius: 4px;

          }
          .active{
              background-color: #71F6EB;
          }
        }
      }
    }
    .content__text{
      padding-left: 33px;
      h3{
        @include font-type(#646565, Merriweather, 20px, bold, normal,  1px);
        text-transform: uppercase;
        margin-bottom: 19px;
      }
      h4{
        @include font-type(#646565, Merriweather, 17px, bold, normal,  1px);
        text-transform: uppercase;
        margin-bottom: 19px;
      }
      p{
        @include font-type(#646565, Raleway, 16px, regular, 28px, 1px);
        margin-bottom: 33px;
      }
    }
  }
}
//////////////
// works//
//////////////
.works{
  .title{
    padding: 122px 0 114px 0;
    margin: 0 auto;
    .headline{
      @include font-type(#323333, Montserrat, 38px, bold, normal, normal);
      text-transform: uppercase;
      text-align: center;
    }
    .description{
      @include font-type(#848585, Merriweather, 18px, regular, normal, normal);
      text-transform: uppercase;
      text-align: center;
    }
  }
  .works__grid{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 117px;
    .works__item{
      border: 4px #fff solid;
      background-size:cover;
      background-position: center center;
      cursor: pointer;
      width: 370px;
      height: 360px;
    }

    .works__item:after{
      content: '\A';
      height: 100%;
      width: 100%;
      background-color: #000000;
      background-size:cover;
      opacity: 0;
      top: 0px;
      left: 0px;
      position: absolute;
      z-index: 1;
      transition: all 0.3s ease 0s;
    }
    .works__item:hover:after{
      content: '\A';
      height: 100%;
      width: 100%;
      background-color: #000000;
      background-size:cover;
      opacity: 0.5;
      top: 0px;
      left: 0px;
      position: absolute;
      z-index: 1;
    }
  }
}
.works__item_1{
  background-image: url(../img/work1.png);
}
.works__item_2{
  background-image: url(../img/work2.png);
}
.works__item_3{
  background-image: url(../img/work3.png);
}
.works__item_4{
  background-image: url(../img/work4.png);
}
.works__item_5{
  background-image: url(../img/work5.png);
}
.works__item_6{
  background-image: url(../img/work6.png);
}
.big_works{
  display: none;
  height: 0;
  margin: -30% auto 0 auto;
  img{
    width:100%
  }
  .big_works__closed {
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    .icon {
      cursor: pointer;
    }
  }

}
//////////////
// services//
//////////////
.services {
  background-color: #F8FAFA;
  .title{
    padding: 122px 0 121px 0;
    margin: 0 auto;
    background-color: #F8FAFA;
    .headline{
      @include font-type(#323333, Montserrat, 38px, bold, normal, normal);
      text-transform: uppercase;
      text-align: center;
    }
    .description{
      @include font-type(#848585, Merriweather, 18px, regular, normal, normal);
      text-transform: uppercase;
      text-align: center;
    }
  }
  .services__container{
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    .services__grid {
      padding-bottom: 124px;
      max-width: 1147px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      .services__row{
        position: relative;
        display: flex;
        .services__item {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 30px 61px 50px;
          background-size: cover;
          background-position: center center;
          border: #F8FAFA solid 5px;
          transition: all 0.3s ease 0s;
          h3{
            position: relative;
            z-index: 2;
            @include font-type(#F8F8F8, Merriweather, 20px, bold, normal, normal);
            text-transform: uppercase;
            margin-bottom: 26px;
          }
          p{
            position: relative;
            z-index: 2;
            @include font-type(#EAEAE9, Raleway, 16px, regular, normal, normal);
          }
          .button{
            margin-top:25px;
            padding: 20px 0;
            position: absolute;
            bottom: 36px;
            left: 62px;
            z-index: 2;
            width: min-content;
            white-space: nowrap;
            span{
              @include font-type(#EBEBEB, Raleway, 18px, medium, normal, normal);
              text-transform: uppercase;
              margin-right: 15px;

            }
          }
          .button__x{
            z-index: 5;
            position: absolute;
            bottom: 18px;
            padding: 20px;
            left: 45px;
            border: 3px solid transparent;

          }

        }
        .services__item_normal{
          position: relative;
          padding-top: 149px;
          p{
            height: 58px;
            overflow: hidden;
          }
          .button__x{
            visibility: hidden;
          }
          .button__more{
            visibility: visible;
          }
        }
        .services__item_normal:after {
          content: '\A';
          height: 100%;
          width: 100%;
          background-color: #000000;
          background-size:cover;
          opacity: 0.5;
          top: 0px;
          left: 0px;
          position: absolute;
          z-index: 1;
          transition: all 0.3s ease 0s;
        }
        .service_1{
          background-image: url(../img/service1.png);
          width:58%;
          height: 423px;
        }
        .service_2{
          background-image: url(../img/service2.png);
          width:42%;
          height: 423px;

        }
        .service_3{
          background-image: url(../img/service3.png);
          height: 373px;
          width:58%;
        }
        .service_4{
          background-image: url(../img/service4.png);
          height: 373px;
          width:42%;
        }
        .service_5{
          background-image: url(../img/service5.png);
          height: 373px;
          width:42%;
        }
        .service_6{
          background-image: url(../img/service1.png);
          height: 373px;
          width:58%;
        }
        .services__item_active{
          padding-top: 60px;
          padding-bottom: 74px;
          .button__more{
            visibility: hidden;
            color: black;
          }
          .button__x{
            visibility: visible;
          }

          h3{
            color: #1D4B47;
          }
          p{
            @include font-type(#EAEAE9, Raleway, 16px, regular, 27px, normal);

            color: #29625D;
            height: auto;
            overflow: hidden;

          }
          //background-image: none;
          //background-color: #6FF4E9;
        }
        .services__item_active:after{
          //opacity: 0;
          content: '\A';
          height: 100%;
          width: 100%;
          background-color: #6FF4E9;
          background-size:cover;
          opacity: 1;
          top: 0px;
          left: 0px;
          position: absolute;
          z-index: 1;
          transition: all 0.3s ease 0s;
        }
        @include respond-to(xs) {
          flex-direction: column;
          .services__item{
            width: 100%;
          }
        }
      }
    }
  }

}
//////////////
// team//
//////////////
.team {
  .title{
    padding: 122px 0 114px 0;
    margin: 0 auto;
    .headline{
      @include font-type(#323333, Montserrat, 38px, bold, normal, normal);
      text-transform: uppercase;
      text-align: center;
    }
    .description{
      @include font-type(#848585, Merriweather, 18px, regular, normal, normal);
      text-transform: uppercase;
      text-align: center;
    }
  }

  .team__grid {
    margin-bottom: 100px;
    .team__item {
      border: #fff solid 5px;
      height: 448px;
      background-size: cover;
      background-position: center center;
      position: relative;
      .team__item__note{
        position: relative;
        height: 100%;
        width: 100%;
        opacity: 0;
        display: flex;
        align-items: flex-end;
        transition: all 0.5s ease 0s;

        .team__item__note_content{
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 242px;
          padding: 36px 20px 39px 44px;
          background-color: #70F6EB;
          margin: 0 10px 10px 10px;
          img{
            position: absolute;
            z-index: 0;
            top: -20px;
            left: 13px;
          }
          h4{
            position: relative;
            z-index: 3;
            margin-bottom: 20px;
            @include font-type(#2C3A39, Merriweather, 22px, bold, normal, normal);
            text-transform: uppercase;
            span{
              margin-left: 11px;
              @include font-type(#767978, Merriweather, 18px, normal, normal, normal);
              font-style: italic;
              text-transform: none;
            }
          }
          p{
            @include font-type(#225450, Raleway, 16px, regular, normal, normal);
            margin-bottom: 20px;
          }
          @include respond-to(xs) {
            h4{
              font-size: 18px;
              margin-bottom: 10px;
              span{
                font-size: 16px;
              }
            }
            p{
              font-size: 14px;
              margin-bottom: 10px;
            }
          }
          .social{
            display: flex;
            .social__item{
              color:#2F6F6A;
              padding: 5px;
              margin-left: 3px;
              cursor: pointer;
              font-size: 12px;
            }
            .social__item:first-child{
              margin-left: 0;
            }
          }
        }
      }
      .team__item__note:hover{
        opacity: 1;

      }
    }
    @include respond-to(xs) {
      flex-direction: column;
      .team__item{
        width: 100%;
      }
      .team__item__note_content{
        h4{
          font-size: 18px;
          span{
            font-size: 16px;
          }
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
  .team1{
    background-image: url(../img/team1.png);
  }
  .team2{
    background-image: url(../img/team2.png);
  }
  .team3{
    background-image: url(../img/team3.png);
  }
  .team4{
    background-image: url(../img/team4.png);
  }
  .team5{
    background-image: url(../img/team5.png);
  }
}
/////////////////
// testimonials//
/////////////////
.testimonials{
  background-color: #F8FAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 0 10px;

  .title{
    padding: 122px 0 121px 0;
    margin: 0 auto;
    background-color: #F8FAFA;
    .headline{
      @include font-type(#323333, Montserrat, 38px, bold, normal, normal);
      text-transform: uppercase;
      text-align: center;
    }
    .description{
      @include font-type(#848585, Merriweather, 18px, regular, normal, normal);
      text-transform: uppercase;
      text-align: center;
    }
  }
  .content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    text-align: center;
    max-width: 1147px;
    position: relative;
    .testimonials__item{
      display: flex;
      justify-content: space-between;
      .content__image{
        position: relative;
        margin: 34px 10px;
        width: 34%;
        height: auto;
        .shadoww{
          height: 363px;
          width:100%;
          margin-top: 30px;
          background-color: #EEEFF1;
          position: absolute;
        }
        .photo{
          background-size: cover;
          background-position: center center;
          margin: 0 auto;
          height: 411px;
          width: 90%;
          position: relative;
          z-index: 2;
        }
        .testimonials1{
          background-image: url(../img/team1.png);
        }
        .testimonials2{
          background-image: url(../img/team2.png);
        }
        .testimonials3{
          background-image: url(../img/team3.png);
        }

      }
      .content__bloc{
        min-height: 363px;
        width: 66%;
        background-color: #EAEBED;
        margin: 40px ;
        margin-top: 71px;
        padding: 20px 81px 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: min-content;
        h3{
          @include font-type(#1B1B1C, Merriweather, 20px, bold, normal, normal);
          text-transform: uppercase;
          margin-bottom: 19px;
          span{
            @include font-type(#8F8F90, Merriweather, 18px, regular, normal, normal);
            text-transform: uppercase;
          }
        }
        p{
          @include font-type(#909192, Raleway, 16px, regular, 27px, normal);
          margin-bottom: 19px;
        }
        .stars{
          display: flex;
          .stars__item{
            color: #F2DA3B;
            margin: 0 10px;
          }
        }
      }
      @include respond-to(xs){
        min-height: auto;
        flex-wrap: wrap;
        .content__image{
          .shadoww{
            height: 220px;
          }
          .photo{
            background-position: top center;
            height: 256px;
          }
          width: 100%;

        }
        .content__bloc{
          width: 100%;
          margin: 0;
          padding: 10px;
          min-height: auto;
          h3{
            font-size: 16px;
            margin-bottom: 9px;
            span{
              font-size: 14px;
            }
          }
          p{
            font-size: 10px;
            margin-bottom: 9px;
          }
        }
      }
    }
    .carousel__control{
      position: absolute;
      right: -8px;
      bottom: -32px;
      display: flex;
      justify-content: space-between;
      .arr{
        margin: 0px 15px;

        height: 54px;
        width:  54px;
        background-color: #FFFFFF;
        box-shadow: 0px 8px 12px 1px  rgba(0, 0, 255, .2);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .arr:hover{
        background-color: #71F6EB;
      }
      @include respond-to(xs){
        position: relative;
        right: 0;
      }
    }
    .carousel__indicator{
      position: absolute;
      left: 14%;
      bottom: -27px;
      display: flex;
      justify-content: center;
      @include respond-to(xs){
       // bottom: 270px;
        position: relative;
        left: 0;
        bottom: 0;
      }
      .carousel__indicator__item{
        margin: 0 3px;
        height: 11px;
        width:  11px;
        background-color: #D0D0D0;
        border-radius: 4px;
        box-shadow: 0px 8px 12px 1px  rgba(0, 0, 255, .2);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .active{
        .carousel__indicator__item {
          background-color: #71F6EB;
        }
      }
    }
  }
}
/////////////////
// Partners//
/////////////////
.partners__contener{
  margin: 0 auto;
  padding: 81px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .partners__contener__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .partenrs__bloc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .partners__contener__iteam{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 27px 42px;
  }
}
/////////////////
// Contacts//////
/////////////////
.contacts{
  position: relative;
  display: flex;
  justify-content: center;
  .contacts__container{
    padding: 0 10px 0 10px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    z-index: 2;
    height: min-content;
    .contacts__form{
      height: min-content;
      max-width: 615px;
      width: 100%;
      margin: 10px;
      padding: 44px 35px 35px;
      background-color: #3C505D;
      opacity: 1;
      .contacts__form__item{
        display:  flex;
        padding-bottom: 14px;
        margin-bottom: 24px;
        border-bottom: #fff solid 1px;
        label{
          white-space: nowrap;
          @include font-type(#C4C7CA, Raleway, 15px, regular, normal, normal);
          margin-bottom: 0px;
        }

        input {
          width: 100%;
          border: none;
          background: repeat;
          padding-left: 10px;
        }
        input:focus{
          outline:none;
        }
      }
      .contacts__form__massege{
        display:  flex;
        width: 100%;
        margin: 0 0 38px 0;
        textarea{
          padding-left: 10px;
          width: 100%;
          height: 95px;
          vertical-align: top;
          background: repeat;
          border: none;
        }
        textarea:focus{
          outline:none;
        }
      }
      .contacts__form__button{
        width: 100%;
        display: flex;

        button{
          @include font-type(#2E6B66, Montserrat, 18px, regular, normal, normal);
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background-color: #71F6EB ;
          height: 54px;
          width: 241px;
          transition: all 0.3s ease 0s;
        }
        button:hover{
          color: #EAEAE9;
          background-color: #606061;
          border-color:#EAEAE9 ;
        }
      }
      @include respond-to(xs){
        .contacts__form__button{
          justify-content: center;
        }
      }
    }
  }
    .adress{
      margin: 10px;
      max-width: 501px;
      width: 100%;
      padding: 28px 30px;
      @include font-type(#C4C7CA, Raleway, 15px, regular, normal, normal);
      margin-bottom: 117px;
      background-color: #3C505D;
      display: flex;
      flex-direction: column;
      a{
        margin-bottom: 10px;
        @include font-type(#C4C7CA, Raleway, 15px, regular, normal, normal);
      }
      iframe{
        width: 100%;
        height:224px;

      }
    }
}
.contacts:after{
  content: '\A';
  height: 100%;
  width: 100%;
  background-size:cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background-image: url(../img/contacts.png);
  background-position: center center;
}
// footer
.footer {
  height: 317px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262B2E;
  h5{
    @include font-type(#DFE0E0, Raleway, 16px, regular, normal, normal);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__socials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
    .footer__socials__item {
      margin: 0 4px 0 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 41px;
      width: 47px;
      color: #BBB8B9;
      background-color: #424648;
      font-size: 20px;
      transition: all 0.4s ease 0s;

    }
    .footer__socials__item:hover{
      background-color: #6EEEE4;
      color: #081E1C;
    }
  }
  p{
    @include font-type(#DFE0E0, Raleway, 16px, 500, normal, normal);
    text-align: center;
  }
}
